.dark-mode {
    background-color: $dark-1;
    color: $white-1;

    .navMenu {
        background-color: $dark-1;
        color: $white-1;

        .navbar {

            #offcanvasExample {
                background-color: $dark-1;

                #navbarNav {
                    .nav-link {
                        color: $brown-2;

                        &::before {
                            background-color: $white-1;
                            color: $white-1;
                        }

                        &:hover::before,
                        &.active::before,
                        &.active,
                        &:hover {
                            color: $white-1;
                        }
                    }
                }

                #myIcon {
                    color: $brown-1;
                }
            }

        }
    }

    #home {
        .home__left {
            .home__name {
                a {
                    color: $brown-1;
                }
            }

            .home__text {
                color: $brown-2;

                span {
                    color: $white-1;
                    border-bottom: 2px solid $white-1;
                }
            }
        }
    }

    #skills {
        .sectionTitle {
            .title_brown {
                color: $white-1;

                &::after {
                    background-color: $white-1;
                }
            }
        }

        .accordion {
            .accordion-contentGroups {
                .accordion-collapse {
                    .card {
                        background: $brown-3;

                        .mySkills__item {
                            .item__text {
                                color: $brown-4;
                            }
                        }
                    }
                }
            }
        }
    }

    #contact {
        .sectionTitle {
            .title_brown {
                color: $white-1;

                &::after {
                    background-color: $white-1;
                }
            }
        }

        .contact__content {
            .contact__name {
                h2 {
                    color: $brown-1;
                }

                p:nth-child(2) {
                    color: $brown-3;
                }
            }
        }
    }
}