// COLORS
$white-1: #F8F7F4;
$white-2: #F5F7F8;
$brown-1: #F1E6DA;
$brown-2: #C9A88A;
$brown-3: #A77A55;
$brown-4: #8B5E3C;
$dark-1: #191919;

// NUMBERS
$num-1: 3px;
$num-2: 5px;
$num-3: 10px;
$num-4: 15px;
$num-5: 20px; 
$num-6: 25px;
$num-7: 30px;
$num-8: 36px; 
$num-9: 48px;
$num-10: 60px;
$num-11: 80px;
$num-12: 100px;
$num-13: 150px;
$num-14: 200px;
$num-15: 45px; 
$num-16: 160px;
$num-17: 16px;
$num-18: 40px;
$num-19: 250px;

// FONT-WEIGHT
$fw-1: 200;
$fw-2: 300;
$fw-3: 400;
$fw-4: 500;
$fw-5: 600;
$fw-6: 700;
$fw-7: 800;


// RESPONSIVE BREAKPOINTS 
$breakpoints: (
  sm: 575.98px,
  md: 767.98px,
  lg: 991.98px,
  xl: 1199.98px,
  xxl: 1399.98px
);